#navbar{
    flex-direction: column;
    
}

#services .box img{
    height: 60px;
    margin: auto;
    display: block;
   }
#navbar ul li a {
    font-size: 1rem;
    padding:5px 7px;
    padding-bottom: 8px;
}
.btn{
    font-size: 18px;
    padding: 8px 13px;
}
.btn2{
    font-size: 18px;
    padding: 8px 13px;
}
#home{
    height: 380px;
    padding: 3px 78px;
}
#home::before{
    height: 480px;
   
  
}
#home p{
    font-size: 13px;
}
#services{
    flex-direction: column;
    

    
}
.service-con{
    background-color: wheat;
    height: 100%;
    padding: 5px 5px;
    
   }
   
#service .box{
    padding: 14px;
    margin: 2px 20px;
    
}
.primary{
    font-size: 26px;
}
.secondary{
    font-size: 26px;
}
.clients img {
    width: 66px;
    height: auto;
    padding: 15px;
}
.clients{
   
    flex-wrap: wrap;
}
footer{
    width: auto;
}